{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Alumni meetup</title>
    <link rel="stylesheet" href="{% static 'meetup/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'meetup/css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'meetup/css/212313.css' %}">
</head>


{% block content %} {% endblock %}

<aside>




    <div class="grid">
        <a href="{% url 'meetup:login' %}">Login</a>
        <a href="{% url 'meetup:home' %}">Head home</a>
        <a href="{% url 'meetup:profile' %}">Edit profile</a>
        <a href="{% url 'meetup:invite' %}">Schedule meetup</a>
        <a href="{% url 'meetup:notifcation' %}">See invites</a>
        <a href="{% url 'meetup:logout' %}">Logout</a>
    </div>


</aside>
<footer>
    <h4>
        <a href="https://github.com/akohli96/AlumMeetup">Code</a>
    </h4>
</footer>

</html>