{% extends 'template/base.html' %} {% block content %}

<header>
    <h3>
        Check out the event {{ event.name }} hosted by {{host.user.username}}
    </h3>
</header>
<main>

    <div class="grid">
        <div class="box">
            <p>City : {{ location.city }}</p>
            <p>Place : {{ event.place }}</p>
        </div>
        <div class="box">
            <h4 color="#3973ac">Friend list</h4>
            {% for guest in guests %}
            <h5>{{ guest.user.username }}</h5>
            {% endfor %}
        </div>
    </div>

</main>
{% endblock %}