{% extends 'template/base.html' %} {% block content %}
<header>

    <h3>
        Welcome to {{user.profile.location.city}} {{user.get_username}}
    </h3>
</header>


<main>
    <div class="box">
        <div class="grid">
            <ul>
                {% for user in same_city_users %}
                <div>{{ user.user.username }} is in town</div>
                {% endfor %}
            </ul>
            </ul>
        </div>
    </div>

    <div class="box">
        <div class="grid">
            <ul>
                {% for event in meetups %}

                <a href="{% url 'meetup:event_by_id' event_id=event.id  %}">{{event.name }} happened recently</a> {% endfor %}
            </ul>
        </div>
    </div>

</main>
{% endblock %}