{% extends 'template/base.html' %} {% block content %}
<header>
    Header
</header>
<main>

    <form method="get">
        {{filter.form.as_table}}
        <button type="submit">Search</button>
    </form>
    <form method="post">
        {% csrf_token %}

        <tr>{% for user in filter.qs %}
            <td>{{ user.user.username }}</td>
            <td><input type="checkbox" name="user[]" value="{{user.user.id}}" /></td>{% endfor %}
        </tr>
        <button type="send">Invite selected users to event</button> {{event_form.as_table}}
    </form>

</main>
{% endblock %}